<!DOCTYPE html>
<html>
    <head>
        <!-- step 1: add javascript file -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Cat Owner Simulator</h1>
        <!-- step 2: add ng-app -->
        <div>
            <!-- step 3: add ng-model to input fields -->
            <p>First Name: <input type="text"></p>  
            <p>Last Name: <input type="text"></p>
            <!-- step 8: add selection menu for cat breeds -->
            <p>Cat Breed: </p>
            <div class="centerBlock">
                <!-- step 4: add expression for cat name -->
                <p class="nameText">This is your cat, </p>
                <!-- step 9: display correct breed picture -->
                <!-- step 14: use the mousemove event to detect pets on the picture -->
                <img src="american-shorthair.jpg" class="catpic"></img>
                <!-- step 11: display happiness level -->
                <!-- step 16: use filter to round happiness to the nearest integer -->
                <p class="statText">Cat happiness level: %</p>
                <!-- step 13: have different messages show up for different happiness levels -->
                <div class="happyMessage">The cat is happy!</div>
                <div class="annoyedMessage">The cat is annoyed.</div>
                <div class="angryMessage">The cat is angry!</div>
            
        </div>
        <script>
            // step 5: create the module
            // step 6: create the controller
            // step 7: add the array of cat types
            // step 10: create the happy variable
            // step 12: use the interval service to have the happiness gradually decrease
            // step 15: create the $scope.pet function to increase the happiness when pet
            
        </script>
    </body>
</html>