<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Cat Owner Simulator</h1>
        <div ng-app="myApp" ng-controller="myCtrl">
            <p>First Name: <input type="text" ng-model="fname"></p>
            <p>Last Name: <input type="text" ng-model="lname"></p>
            <p>Cat Breed: <select ng-model="breedSelect" ng-options="x[0] for x in catTypes" ng-init="breedSelect = catTypes[0]"></select></p>
            <div class="centerBlock">
                <p class="nameText">This is your cat, {{fname + " " + lname}}</p>
                <img src={{breedSelect[1]}} class="catpic" ng-mousemove="pet()"></img>
                <p class="statText">Cat happiness level: {{happy | number:0}}%</p>
                <div class="happyMessage" ng-if="happy >= 60">The cat is happy!</div>
                <div class="annoyedMessage" ng-if="happy < 60 && happy >= 20">The cat is annoyed.</div>
                <div class="angryMessage" ng-if="happy < 20">The cat is angry!</div>
            </div>
            
        </div>
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $interval) {
              $scope.happy = 100;
              dropHappiness = $interval(function () {
                if($scope.happy >= 1){
                    $scope.happy = $scope.happy - 1;
                } else {
                    $scope.happy = 0;
                }
              }, 500);
              $scope.pet = function() {
                if($scope.happy < 100){
                    $interval.cancel(dropHappiness);
                    $scope.happy = $scope.happy + 0.1;
                    dropHappiness = $interval(function () {
                        if($scope.happy >= 1){
                            $scope.happy = $scope.happy - 1;
                        } else {
                            $scope.happy = 0;
                        }
                    }, 500);
                } 
              }
              $scope.catTypes = [["American Shorthair","american-shorthair.jpg"], ["Bengal","bengal.jpg"], ["Birman", "birman.webp"], ["Catfish", "catfish.jpg"]];
            });
        </script>
    </body>
</html>