@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');

body{
    background-color: aliceblue;
}

h1{
    font-family: 'Edu SA Beginner', cursive;
    text-align: center;
    padding-bottom: 10px;
    border-bottom-style: solid;
    font-size: 50px;
}

p{
    font-family: 'Edu SA Beginner', cursive;
}

.catpic{
    width: 350px;
    cursor: url('hand.png'), auto;
    transition: 0.2s;
    border-style: solid;
    border-color: white;
}

.catpic:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 50px rgb(6, 6, 6);
}

.centerBlock{
    text-align: center;
}

.happyMessage{
    font-size: 40px;
    color:white;
    background-color: rgb(26, 155, 58);
    padding:5px;
}

.annoyedMessage{
    font-size: 40px;
    color:white;
    background-color: orange;
    padding:5px;
}

.angryMessage{
    font-size: 60px;
    color:white;
    background-color: red;
    padding:5px;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.statText{
    font-size: 30px;
}

.nameText{
    font-size:50px;
}

